.book-container{
    margin: 3rem;
}

.book{
    height: 300px;
    /* width: 300px; */
}

.book:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
}

.buttons:link,
.buttons:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all 02.s;
    /* position: relative; */
    background-color: aqua;
}

.buttons:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.buttons:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.buttons-white {
    color: #777;
    background-color: #fff;
}

.buttons::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
    transition: all .4s;

}

/* .buttons-white::after{
    background-color: #fff;
}

.buttons:hover::after{
    transform: scaleX(1.5) scaleY(1.7);
    opacity: 0;
} */

.buttons-animated{
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}
